body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* @media only screen and (max-width: 600px) {
  .form-container {
    padding: 0 10%;
    max-width: 400px;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .showcase-btn {
    @apply mr-3 mb-3 rounded-full border border-[#242424] px-6 py-2 text-sm uppercase tracking-widest text-gray-500 transition-all hover:border-[#f7ab0a]/80 hover:text-[#f7ab0a]/80;
  }

  .contactInput {
    @apply w-[300px] rounded-md border-b bg-slate-400/10 px-6 py-4 text-gray-500 placeholder-gray-500 outline-none transition-all focus:border-[#f7Ab0a]/40 dark:border-[#242424] md:w-[400px];
  }
}
